*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#input-field {
    position:relative;
}

img {
    position:absolute;
    left:0;
    bottom: 0px;
    height: 2.2em;
}

.li-items{
    border: red solid 2px;
    padding: 0.5em;
    margin: 1.5em;
    width: 25em;
    list-style: none;
}


input {
     padding:8px;
     width: 30em;
}