*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #182333 100%, #537895 50%);
    
    /* background-color: #800080; */
    color: white;
    font-family: 'Bubblegum Sans', cursive;
    
}
.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.2em;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#heading img {
   height: 2.2em;
   margin-top: 0.5em;
}
#heading{
    display: flex;
}
#heading h1{
    margin-top: 0.25em;
    padding-right: 0.5em;
    font-size: 2.2em;
}

.input-container input {
    padding: 0.6em;
    width: 23em;
    margin-top: 1.5em;
    float: left;
    background-color:rgb(183, 185, 188);
    border: none;
    border-radius: 0.3em;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.1em;
    letter-spacing: 0.04em;
}

.input-container{
    position: relative;
}

.input-container i{
    margin-top: 1.67em;
    text-align: center;
    padding: 0.85em;
    font-size: 1em;
    font-weight: 800;
    background-color: #790979;
    cursor: pointer;
    border-radius: 0.3em;
}
.error-msg{
    color: rgb(221, 34, 34);
    font-size: 1em;
    text-align: center;
  }

.li-item{
   
    padding: 0.65em;
    margin: 1.5em;
    width: 27.5em;
    list-style: none;
    position: relative;
    background-color: rgb(183, 185, 188);
    color: black;
    border-radius: 0.3em;
}

.li-element{
    background-color: rgb(183, 185, 188);
    border: none;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.1em;
    letter-spacing: 0.04em;
    }

.li-element:focus {
    outline: none; 
    border: 0;
} 
.editBtn{
    position: absolute;
    top: 0;
    right: 2.5em;
    margin-right: 1px;
}

.deleteBtn{
    position: absolute;
    top: 0;
    right: 0;
}

.saveBtn{
    position: absolute;
    top: 0;
    right: 2.5em;
    margin-right: 1px;
}

.li-item i{
    text-align: center;
    padding: 0.8em;
    font-size: 1em;
    font-weight: 800;
    background-color: #790979;
    color: white;
    cursor: pointer;
}

.checkbox{
   margin-right: 1em;
}










